<p id="notice"><%= notice %></p>

<h1>Friends</h1>


<%= render 'form' %>


<fieldset class="scroll col-sm-12">
  <legend>Friends List:</legend>
  <% @friendships.each do |friendship| %>
    <div class="col-sm-4">
      <div class="col-sm-6">
        <span class="col-sm-12"><%= friendship.user.email %></span>
        <span class="col-sm-12"><%= link_to 'Unfriend', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    </div>
  <% end %>
</fieldset>
